// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar{
    padding: 0em;
}

.bg-white {
    background-color: #708090 !important;
}

.navbar-light .navbar-brand {
    color: #eeeeee;
    font-size: 3.5em;
    font-family: "Montserrat Subrayada" , sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: #eeeeee;
    font-size: large;
    font-family: 'Alegreya Sans SC', sans-serif
}

.py-4{
    padding-top: 0rem !important;
}


.card-header{
    background-color: #708090;
    color :#eeeeee;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: large;
}

.container{
    padding-top: 30px;
}

.col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    font-size: 1.5em;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.btn-primary{
    color: #eeeeee;
    background-color: #3490dc;
    border-color: #3490dc;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.form-check-label{
    font-family: 'Alegreya Sans SC', sans-serif;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    font-family: 'Alegreya Sans SC', sans-serif;;
}